body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-full-color-gradient-contrast-color-fresh-ink-watercolor-background-gradientblue-purpleink-image_70984.jpg)  ;
}

.container {
  text-align: center;
  padding: 30px;
  background-color: #ff9595; /* Background color for container */
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
}

h1 {
  font-size: 2.2em;
  margin-bottom: 20px;
  color: #4a4a4a; /* Header color */
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

#passwordOutput {
  font-size: 18px;
  margin-top: 10px;
}